<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbp7CRpkXzwMBIewF_BRbJbRTUGXo2UtI</string>
	<key>GCM_SENDER_ID</key>
	<string>244159148802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.4T2F.PADO</string>
	<key>PROJECT_ID</key>
	<string>pado-a69fd</string>
	<key>STORAGE_BUCKET</key>
	<string>pado-a69fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244159148802:ios:6e0af8798d17814367481b</string>
</dict>
</plist>
